{% extends "main-template.html" %} {% block title %}BAZAR W HOME{% endblock %}{% block content %}{% load static %}

<div class="row">
    {% for day in days %}
    <div class="col-lg-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{day.day}}</h5>
            <h4 class="card-title">{{day.day_of_week}}</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">FIND</a>
          </div>
        </div>
      </div>
      {% endfor %}  
</div>

{% endblock %}